*{
    padding: 0;
    margin: 0;
}

.PastEntries {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      #EBF3E7 0%,
      #EBF3E7 50%,
      #1C2120 50%,
      #1C2120 100%
    );
}