body{
    background-color: #EBF3E7;
    font-family: 'Nunito Sans';
}

.s-logo{
    background-image:url(../Login/logo_dark.png);
    height: 90px;
    background-position: 5px 11px; 
    background-size: 90px;
    background-repeat: no-repeat;
}

.signUp{
    position: relative;
    margin-left: -40%;
    margin-top: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-header{
    color: #000;
    font-size: 1.75rem;
    font-weight: 700;
    position: relative;
}

.signUp-subheader{
    color: #515151;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    margin-top: 0%;
}

.s-form-items{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 19%;
    margin-top: 3%;
}

input[id=email]{
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
    width: 18rem;
    height: 3rem;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 0.8rem;
    background-image:url(../Login/Icon_email.png);
    background-position: 15px 16px; 
    background-size: 22px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 55px;
}

input[id=fullname]{
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
    width: 18rem;
    height: 3rem;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 0.8rem;
    background-image:url(../Login/Icon_email.png);
    background-position: 15px 16px; 
    background-size: 22px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 55px;
}

input[id=password]{
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
    width: 18rem;
    height: 3rem;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 0.8rem;
    background-image:url(../Login/Icon_Password.png);
    background-position: 15px 13px; 
    background-size: 21px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 55px;
}

input[id=confirmpassword]{
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
    width: 18rem;
    height: 3rem;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 0.8rem;
    background-image:url(../Login/Icon_Password.png);
    background-position: 15px 13px; 
    background-size: 21px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 55px;
}

input:hover {
    border: 0.5px solid #333;
}

::placeholder {
    color: #8A8585;
    font-size: 0.9rem;
    font-family: 'Nunito Sans';
}

.s-field-header{
    color: #515151;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    margin-bottom: 0.2rem;
}

.s-field-header-remember{
    color: #515151;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
}

/* Positioning for sections */
.s-email-address{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
}

.s-full-name{
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.s-password{
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

.s-confirm-password{
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
}

/* Buttons */
.signUp-button{
    font-family: 'Nunito Sans';
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 1.1rem;
    border: 3px solid hsl(104, 21%, 68%);
    background: #EBF3E7;
    box-shadow: 0px 4px 6px 0px rgba(62, 62, 62, 0.25);
    width: 8rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin-left: 13%;
    margin-top: 3%;
    background-image:url(../Login/Icon_LoginArrow.png);
    background-position: 85px 11px; 
    background-size: 21px;
    background-repeat: no-repeat;
    padding: 6px 30px 6px 2px;
    transition: all 0.2s ease-in-out;
}

.signUp-button:hover {
    background: #dae7d4;
    background-image:url(../Login/Icon_LoginArrow.png);
    background-position: 85px 11px; 
    background-size: 21px;
    background-repeat: no-repeat;
}

.s-login{
    color: #515151;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20%;
    margin-top: 3%;
    text-decoration-line:none;
}

b{
    color: #6E8765;
    font-family: Nunito Sans;
    font-size: 1rem;
    font-weight: 800;
}
