body{
    background-color: #EBF3E7;
    font-family: 'Nunito Sans';
}

.logo-dash{
    margin-top: 0px;
    margin-left: 10px;
    height: 90px;
    width: 90px;
}

.menu-logo{
    margin-top: 0px;
    margin-left: 10px;
    height: 90px;
    width: 90px;
}


.quote{
    margin-top: 0%;
    margin-left: 10%; 
}